@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
}

header {
  max-width: 92%;
  margin: auto;
  padding: 20px;
}
header > nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header > nav > .logo > ul {
  color: #292525;
  font-size: 2rem;
  font-weight: 600;
}
header > nav > .logo > ul > a {
  color: #292525;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.3rem;
}
header > nav > .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
header > nav > .links > .nav_links {
  font-family: "Inter", sans-serif;
  color: #60e1cb;
  font-size: 1.15rem;
}
header > nav > .links > .nav_links > a {
  text-decoration: none;
  color: #60e1cb;
  font-weight: 600;
}
header > nav > .links > .nav_links > a :visited {
  color: #60e1cb;
}
header > nav > .links .active > a {
  font-family: "Inter", sans-serif;
  color: #292525;
}
header > nav > .links > .quoteBtn > button {
  background-color: #6299b5;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.15rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
header > nav > .links > .quoteBtn > button:hover {
  background-color: #7bc0e3;
  color: #ffffff;
}

main {
  position: relative;
}
main > .hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 92%;
  height: 30rem;
  margin: 10rem auto;
}
main > .hero > .hero_content {
  height: 30rem;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  color: #292525;
  gap: 30px;
}
main > .hero > .hero_content > .shape_rec {
  background-color: #6299b5;
  border: none;
  height: 5px;
  width: 100px;
}
main > .hero > .hero_content > h1 {
  font-size: 2.875rem;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
main > .hero > .hero_content > h1 > span {
  color: #60e1cb;
  font-family: "Inter", sans-serif;
}
main > .hero > .hero_content > p {
  font-size: 1.188rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.6;
}
main > .hero > .hero_content > .ctaBTNS {
  display: flex;
  gap: 20px;
}
main > .hero > .hero_content > .ctaBTNS > .primaryBTN {
  background-color: #60e1cb;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding: 15px;
  width: 10em;
  font-weight: 700;
  box-shadow: 0 0px 10px 0 rgba(1, 255, 196, 0.104), -1px 10px 20px -1px rgba(1, 255, 196, 0.766);
  transition: 0.5s ease-in-out;
}
main > .hero > .hero_content > .ctaBTNS > .primaryBTN:hover {
  transform: translateY(-10px);
}
main > .hero > .hero_content > .ctaBTNS > .secondaryBTN {
  background-color: transparent;
  border: 1px solid #292525;
  border-radius: 50px;
  color: #60e1cb;
  padding: 15px;
  width: 10em;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}
main > .hero > .hero_content > .ctaBTNS > .secondaryBTN:hover {
  transform: translateY(-10px);
}
main > .hero > .hero_img {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
main > .hero > .hero_img > img {
  height: 45rem;
}
main > .service {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #e9fbf8;
}
main > .service > .heading {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > .service > .heading > h1 {
  font-size: 2.875rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}
main > .service > .heading > p {
  text-align: center;
  font-size: 1.188rem;
  width: 60%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 100px;
}
main > .service > .card-grid {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
}
main > .service > .card-grid > .card {
  text-align: left;
  width: 24rem;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
  border-top: 10px solid #60e1cb;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 20px 30px;
}
main > .service > .card-grid > .card > .card-body {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
main > .portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  position: relative;
  z-index: 20;
}
main > .portfolio > .heading {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > .portfolio > .heading > h1 {
  font-size: 2.875rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}
main > .portfolio > .heading > p {
  text-align: center;
  font-size: 1.188rem;
  width: 60%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #6299b5;
}
main > .portfolio > .heading > .subNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  list-style: none;
}
main > .portfolio > .heading > .subNav > li > a {
  font-size: x-large;
  text-decoration: none;
  color: #6299b5;
  padding: 15px;
  border-radius: 50px;
  transition: 0.4s ease;
}
main > .portfolio > .heading > .subNav > li > a:hover {
  border: 1px solid #6299b5;
  border-radius: 50px;
}
main > .portfolio > .heading > .subNav > li > a .active-subnav {
  border: 1px solid #6299b5;
  border-radius: 50px;
}
main > .portfolio > .carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;
  margin: auto;
  position: relative;
  z-index: 12;
}
main > .portfolio > .carousel-container > .carousel {
  height: auto;
  width: 88%;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main > .portfolio > .carousel-container > .carousel > .slides {
  max-width: 90%;
  gap: 4%;
  display: flex;
  transition: transform 0.3s ease;
}
main > .portfolio > .carousel-container > .carousel > .slides > .slide {
  flex: 0 0 33.33%;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
main > .portfolio > .carousel-container > .carousel > .slides > .slide > p {
  width: 100%;
  text-align: left;
  font-size: large;
  font-weight: 600;
}
main > .portfolio > .carousel-container > .carousel > .slides > .slide > img {
  display: block;
  width: 100%;
  max-height: 25rem;
  transition: transform 0.3s ease;
  border-radius: 20px;
}
main > .portfolio > .bg2 {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 35em;
  left: 0;
  z-index: -1;
  background-color: #60e1cb;
}
main > .portfolio > .seeall {
  position: relative;
  top: 10px;
  border: 1px solid #3b3b3b;
  border-radius: 50px;
  height: 4em;
  width: 10em;
  background-color: #292525;
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main > .idea {
  height: auto;
  width: 82%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15%;
}
main > .idea > .heading {
  width: 40%;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}
main > .idea > .heading > h1 {
  font-weight: 600;
}
main > .idea > .heading > h1 > span {
  color: #60e1cb;
}
main > .idea > .heading > p {
  font-size: large;
  font-weight: 600;
}
main > .idea > .idea-card-container {
  width: 82%;
  margin: auto;
}
main > .idea > .idea-card-container > .idea-card {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
  gap: 20px;
}
main > .idea > .idea-card-container .idea-number {
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #60e1cb;
  margin-right: 20px;
  border-radius: 10em;
  box-shadow: rgba(0, 0, 0, 0.127) 0px 10px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 0px, rgba(0, 0, 0, 0.17) 0px 12px 3px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main > .idea > .idea-card-container .idea-text {
  width: 50%;
}
main > .idea > .idea-card-container .idea-text h1 {
  color: #60e1cb;
}
main > .idea > .idea-card-container .idea-text h6 {
  font-size: large;
  font-weight: 600;
}
main .work {
  margin-top: 100px;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  z-index: 0;
}
main .work > img {
  z-index: -10;
  height: 30em;
  width: 100%;
  background-color: #60e1cb;
}
main .work > .extras {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
main .work > .extras h1 {
  color: #292525;
  font-weight: 800;
  font-size: 3em;
}
main .work > .extras p {
  color: #292525;
  font-weight: 600;
  font-size: 1.5em;
}
main .work > .extras button {
  background-color: #292525;
  color: white;
  padding: 20px;
  width: 15em;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.127) 0px 10px 50px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 10px, rgba(0, 0, 0, 0.17) 0px 12px 3px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .ideaimg {
  width: 100%;
  height: 40%;
  margin: auto;
}
main .ideaimg .idea-bgImg img {
  position: absolute;
  top: 95%;
  left: 60vw;
  height: 35em;
}
main .testimonial .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  margin-top: 100px;
}
main .testimonial .heading p {
  color: #6299b5;
  font-weight: 600;
  font-size: 1.5em;
}
main .testimonial .heading h1 {
  color: #292525;
  font-weight: 600;
}
main .testimonial .testimonial-slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.5s ease;
}
main .testimonial .testimonial-slider .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
main .testimonial .prev-button,
main .testimonial .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}
main .testimonial .prev-button {
  left: 10px;
}
main .testimonial .next-button {
  right: 10px;
}
main .testimonial .stars {
  font-size: 24px;
  color: #fdbc0d;
}
main .testimonial .star {
  margin: 2px;
}

.carouselBTN {
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 3.5rem;
  height: 3.5rem;
  padding: 20px;
  font-size: xx-large;
  color: #6299b5;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 100px;
  height: 25vw;
  width: 100%;
  background-image: url(../img/Backgroud-slide.png);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer li {
  font-weight: 600;
  font-size: 1.2em;
  color: #83ffea;
}
footer .textFooter {
  width: 82%;
  margin: 100px auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
footer .leftLogoSec {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 30px;
}
footer .leftLogoSec h3 {
  font-weight: 700;
  font-size: 1.6em;
}
footer .leftLogoSec p {
  font-size: 1.2em;
  font-weight: 600;
  width: 82%;
}
footer .workFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .workFooter h4 {
  font-size: 1.5em;
  font-weight: 700;
}
footer .servicesFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .servicesFooter h4 {
  font-size: 1.5em;
  font-weight: 700;
}
footer .businessFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .businessFooter h4 {
  font-size: 1.5em;
  font-weight: 700;
}
footer .rightsec {
  width: 82%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .languageFooter label h4 {
  font-weight: 600;
}
footer .languageFooter select {
  background: transparent;
  border: none;
}
footer .bottomFooter {
  width: 82%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  font-weight: 600;
}
footer .bottomFooter .bottomFooterRight {
  color: #292525;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 700;
  font-size: 0.688;
}
footer .bottomFooter .bottomFooterRight a {
  color: #292525;
  text-decoration: none;
}
footer hr {
  width: 82%;
  color: #292525;
  margin: auto;
  border-top: 3px solid #ffffff;
}/*# sourceMappingURL=style.css.map */