@use "_colors"as colors;
@use "_sizes"as size;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primaryFont:'Inter',
sans-serif;

header {
    max-width: 92%;
    margin: auto;
    padding: 20px;

    >nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        >.logo {
            >ul {
                color: colors.$black;
                font-size: size.$logo;
                font-weight: 600;

                >a {
                    color: colors.$black;
                    text-decoration: none;
                    font-weight: 600;
                    letter-spacing: 0.3rem;
                }
            }
        }

        >.links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;

            gap: 3rem;

            >.nav_links {
                font-family: $primaryFont;
                color: colors.$green;
                font-size: size.$navLinks;

                >a {
                    text-decoration: none;
                    color: colors.$green;
                    font-weight: 600;

                    :visited {
                        color: colors.$green;
                    }
                }
            }

            .active {
                >a {
                    font-family: $primaryFont;
                    color: colors.$black;
                }
            }

            >.quoteBtn {
                >button {
                    background-color: colors.$lightBlue;
                    color: colors.$white;
                    padding: 10px 20px;
                    border-radius: 20px;
                    border: none;
                    font-family: $primaryFont;
                    font-weight: 500;
                    font-size: size.$navLinks;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: colors.$DarkerlightBlue;
                        color: colors.$white;
                    }
                }
            }
        }


    }
}

main {
    .service-hero {
        height: 25vw;
        width: 100%;
        background-image: url(../img/Backgroud-slide.png);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -5;

        .service-hero-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 3em;
                font-weight: 700;
            }

            p {
                width: 40%;
                text-align: center;
                color: colors.$green;
                font-size: large;
                font-weight: 500;
            }
        }
    }



    .teamGrid {
        width: 80%;
        margin: -5% auto;
        padding: 20px;
        z-index: 2;
        .cardcontainer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            row-gap: 15px;
            margin: 20px;
            flex-wrap: wrap;

            .card-body {
                height: 25em;
                width: 18em;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2%;
                background-color: white;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                button {
                    background-color: colors.$green;
                    border: none;
                    border-radius: 50px;
                    padding: 5px;
                    width: 10em;
                    color: white;
                }

                .avatar {
                    height: 3em;
                    width: 3em;
                    background-color: colors.$greenLight;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: 10px;
                }

                p {
                    color: colors.$green;
                }

                h4 {
                    font-weight: 700;
                }

                img {
                    height: 10em;
                    border-radius: 50%;
                }
            }
        }
    }



}

footer {
    margin-top: 100px;
    height: 25vw;
    width: 100%;
    background-image: url(../img/Backgroud-slide.png);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
        font-weight: 600;
        font-size: 1.2em;
        color: #83ffea;
    }

    .textFooter {
        width: 82%;
        margin: 100px auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;

    }

    .leftLogoSec {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        gap: 30px;

        h3 {
            font-weight: 700;
            font-size: 1.6em;
        }

        p {
            font-size: 1.2em;
            font-weight: 600;
            width: 82%;
        }
    }

    .workFooter {
        h4 {
            font-size: 1.5em;
            font-weight: 700;
        }

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .servicesFooter {
        h4 {
            font-size: 1.5em;
            font-weight: 700;
        }

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .businessFooter {
        h4 {
            font-size: 1.5em;
            font-weight: 700;
        }

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .rightsec {
        width: 82%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .languageFooter {
        label {
            h4 {
                font-weight: 600;
            }
        }

        select {
            background: transparent;
            border: none;
        }
    }

    .bottomFooter {
        width: 82%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.3em;
        font-weight: 600;

        .bottomFooterRight {
            color: colors.$black;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            font-weight: 700;
            font-size: 0.688;

            a {
                color: colors.$black;
                text-decoration: none;
            }
        }
    }

    hr {
        width: 82%;
        color: colors.$black;
        ;
        margin: auto;
        border-top: 3px solid colors.$white;
    }
}