* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}


.carousel-item {
    height: 32rem;
}

.carousel-item img {
    height: 32rem;
}

.top {
    margin-top: 50px;
}

.more {
    margin-top: 200px;
}

.more-bottom {
    margin-bottom: 200px;

}

.less-bottom {
    margin-bottom: 100px;

}

.less {
    margin-top: 100px;
}

.info {
    width: 92%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* border-bottom: 1px solid black; */
}

.card {
    border: none !important;
}

.card-title {
    font-weight: 400 !important;
}

.custom-gap {
    gap: 10px;
}

.sep {
    width: 80%;
}

.card-text h1 {
    font-weight: 400;
    font-size: 3.125rem;
}

.card-text p {
    font-weight: 200;
    font-size: 1.25rem;
}

footer {
    width: 72%;
}
