@use '_variables'as var;
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


h1{
    font-family: var.$primaryFont;
    font-size: var.$fontSizeHeading;
    color: var.$fontColor;
    line-height: var.$lineHeight;
    letter-spacing: var.$letterSpacing;
}